

<style>
  nav {
    text-align: center;
    background-color: blueviolet;
  }
  nav ul {
    list-style: none;
    justify-content: center;
    display: flex;
    gap: 1rem;
    margin: 0 0 0 0;
    padding: 0;
    font-size: 1rem;
  }
  nav ul li {
    padding: 0;
    margin: 0 0 0 0;
  }
  nav div {
    padding-bottom: 1rem;
  }
  nav strong {
    font-size: 1.2rem;
  }
  a.active {
    background-color: aqua;
    color: #000;
    padding: 0.3rem;
    text-decoration: none;
  }
</style>

<div class="content" role="main">
  <nav>
    <div>
      <strong>Signals</strong>
      <ul>
        <li><a routerLink="/signals-set-value" routerLinkActive="active">Set value</a></li>
        <li><a routerLink="/signals-update-value" routerLinkActive="active">Update value</a></li>
        <li><a routerLink="/signals-get-updates" routerLinkActive="active">Get updates</a></li>
        <li><a routerLink="/signals-get-updates-effect-overwrite" routerLinkActive="active">Get updates and overwrite</a></li>
        <li><a routerLink="/signals-compute-value" routerLinkActive="active">Compute values</a></li>
      </ul>
    </div>
    <div>

      <strong>BehaviourSubject</strong>
      <ul>
        <li><a routerLink="/behavioursubject" routerLinkActive="active">BehaviourSubject</a></li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
