

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
  }
  nav {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  nav ul {
    list-style: none;
    justify-content: center;
    display: flex;
    gap: 1rem;
  }
  a {
    color: blue;
  }
  a.active {
    color: red;
  }
</style>

<div class="content" role="main">
  <nav>
    <ul>
      <li><strong>Signals</strong></li>
      <li><a routerLink="/signals-set-value" routerLinkActive="active">Set value</a></li>
      <li><a routerLink="/signals-update-value" routerLinkActive="active">Update value</a></li>
      <li><a routerLink="/signals-get-updates" routerLinkActive="active">Get updates</a></li>
    </ul>
    <ul>
      <li><strong>BehaviourSubject</strong></li>
      <li><a routerLink="/behavioursubject" routerLinkActive="active">BehaviourSubject</a></li>
    </ul>
  </nav>
  <hr />
  <router-outlet></router-outlet>
  <!-- <h1>Signals vs BehaviourSubject!</h1>
  <h2>Signal</h2>
  <app-signals></app-signals>
  <hr />
  <h2>BehaviourSubject</h2>
  <app-behavioursubject></app-behavioursubject> -->
</div>
